<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xhu.wncg.firesystem.modules.mapper.DailyTableMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xhu.wncg.firesystem.modules.pojo.DailyTable" id="dailyTableMap">
        <result property="dailyTableId" column="daily_table_id"/>
        <result property="policeId" column="police_id"/>
        <result property="unitId" column="unit_id"/>
        <result property="checker" column="checker"/>
        <result property="otherChecker" column="other_checker"/>
        <result property="problem" column="problem"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="create_date"/>
        <result property="status" column="status"/>
    </resultMap>

	<select id="queryObject" resultType="xhu.wncg.firesystem.modules.pojo.DailyTable">
		select * from t_daily_table where daily_table_id = #{value}
	</select>

	<select id="queryList" resultType="xhu.wncg.firesystem.modules.pojo.DailyTable">
		select * from t_daily_table
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by daily_table_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_daily_table 
	</select>
	 
	<insert id="save" parameterType="xhu.wncg.firesystem.modules.pojo.DailyTable" useGeneratedKeys="true" keyProperty="dailyTableId">
		insert into t_daily_table
		(
			`police_id`, 
			`unit_id`, 
			`checker`, 
			`other_checker`, 
			`problem`, 
			`remark`, 
			`create_date`, 
			`status`
		)
		values
		(
			#{policeId}, 
			#{unitId}, 
			#{checker}, 
			#{otherChecker}, 
			#{problem}, 
			#{remark}, 
			#{createDate}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="xhu.wncg.firesystem.modules.pojo.DailyTable">
		update t_daily_table 
		<set>
			<if test="policeId != null">`police_id` = #{policeId}, </if>
			<if test="unitId != null">`unit_id` = #{unitId}, </if>
			<if test="checker != null">`checker` = #{checker}, </if>
			<if test="otherChecker != null">`other_checker` = #{otherChecker}, </if>
			<if test="problem != null">`problem` = #{problem}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where daily_table_id = #{dailyTableId}
	</update>
	
	<delete id="delete">
		delete from t_daily_table where daily_table_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_daily_table where daily_table_id in 
		<foreach item="dailyTableId" collection="array" open="(" separator="," close=")">
			#{dailyTableId}
		</foreach>
	</delete>

	<!--自定义-->
	<select id="countDaily" resultType="xhu.wncg.firesystem.modules.pojo.DailyTable" parameterType="java.lang.Integer">
		SELECT * FROM t_daily_table WHERE unit_id=#{countId}
	</select>

	<select id="queryByDailyTableId" resultType="xhu.wncg.firesystem.modules.controller.vo.DailyTableVO" parameterType="java.lang.Integer">
		SELECT * FROM t_daily_table WHERE daily_table_id=#{dailyTableId}
 	</select>
</mapper>