<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xhu.wncg.firesystem.modules.mapper.DangerTableMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xhu.wncg.firesystem.modules.pojo.DangerTable" id="dangerTableMap">
        <result property="dangerTableId" column="danger_table_id"/>
        <result property="policeId" column="police_id"/>
        <result property="unitId" column="unit_id"/>
        <result property="agencyName" column="agency_name"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="day" column="day"/>
        <result property="danger1" column="danger1"/>
        <result property="danger2" column="danger2"/>
        <result property="danger3" column="danger3"/>
        <result property="danger4" column="danger4"/>
        <result property="danger5" column="danger5"/>
        <result property="danger6" column="danger6"/>
        <result property="otherDanger" column="other_danger"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

	<select id="queryObject" resultType="xhu.wncg.firesystem.modules.pojo.DangerTable">
		select * from t_danger_table where danger_table_id = #{value}
	</select>

	<select id="queryList" resultType="xhu.wncg.firesystem.modules.pojo.DangerTable">
		select * from t_danger_table
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by danger_table_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_danger_table 
	</select>
	 
	<insert id="save" parameterType="xhu.wncg.firesystem.modules.pojo.DangerTable">
		insert into t_danger_table
		(
			`danger_table_id`, 
			`police_id`, 
			`unit_id`, 
			`agency_name`, 
			`year`, 
			`month`, 
			`day`, 
			`danger1`, 
			`danger2`, 
			`danger3`, 
			`danger4`, 
			`danger5`, 
			`danger6`, 
			`other_danger`, 
			`create_date`
		)
		values
		(
			#{dangerTableId}, 
			#{policeId}, 
			#{unitId}, 
			#{agencyName}, 
			#{year}, 
			#{month}, 
			#{day}, 
			#{danger1}, 
			#{danger2}, 
			#{danger3}, 
			#{danger4}, 
			#{danger5}, 
			#{danger6}, 
			#{otherDanger}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="xhu.wncg.firesystem.modules.pojo.DangerTable">
		update t_danger_table 
		<set>
			<if test="policeId != null">`police_id` = #{policeId}, </if>
			<if test="unitId != null">`unit_id` = #{unitId}, </if>
			<if test="agencyName != null">`agency_name` = #{agencyName}, </if>
			<if test="year != null">`year` = #{year}, </if>
			<if test="month != null">`month` = #{month}, </if>
			<if test="day != null">`day` = #{day}, </if>
			<if test="danger1 != null">`danger1` = #{danger1}, </if>
			<if test="danger2 != null">`danger2` = #{danger2}, </if>
			<if test="danger3 != null">`danger3` = #{danger3}, </if>
			<if test="danger4 != null">`danger4` = #{danger4}, </if>
			<if test="danger5 != null">`danger5` = #{danger5}, </if>
			<if test="danger6 != null">`danger6` = #{danger6}, </if>
			<if test="otherDanger != null">`other_danger` = #{otherDanger}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where danger_table_id = #{dangerTableId}
	</update>
	
	<delete id="delete">
		delete from t_danger_table where danger_table_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_danger_table where danger_table_id in 
		<foreach item="dangerTableId" collection="array" open="(" separator="," close=")">
			#{dangerTableId}
		</foreach>
	</delete>

</mapper>