<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xhu.wncg.firesystem.modules.mapper.PoliceStationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xhu.wncg.firesystem.modules.pojo.PoliceStation" id="policeStationMap">
        <result property="policeStationId" column="police_station_id"/>
        <result property="branchId" column="branch_id"/>
        <result property="policeStation" column="police_station"/>
    </resultMap>

	<select id="queryObject" resultType="xhu.wncg.firesystem.modules.pojo.PoliceStation">
		select * from t_police_station where police_station_id = #{value}
	</select>

	<select id="queryList" resultType="xhu.wncg.firesystem.modules.pojo.PoliceStation">
		select * from t_police_station
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by police_station_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_police_station 
	</select>
	 
	<insert id="save" parameterType="xhu.wncg.firesystem.modules.pojo.PoliceStation" useGeneratedKeys="true" keyProperty="policeStationId">
		insert into t_police_station
		(
			`branch_id`, 
			`police_station`
		)
		values
		(
			#{branchId}, 
			#{policeStation}
		)
	</insert>
	 
	<update id="update" parameterType="xhu.wncg.firesystem.modules.pojo.PoliceStation">
		update t_police_station 
		<set>
			<if test="branchId != null">`branch_id` = #{branchId}, </if>
			<if test="policeStation != null">`police_station` = #{policeStation}</if>
		</set>
		where police_station_id = #{policeStationId}
	</update>
	
	<delete id="delete">
		delete from t_police_station where police_station_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_police_station where police_station_id in 
		<foreach item="policeStationId" collection="array" open="(" separator="," close=")">
			#{policeStationId}
		</foreach>
	</delete>

</mapper>