<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xhu.wncg.firesystem.modules.mapper.TransferTableMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xhu.wncg.firesystem.modules.pojo.TransferTable" id="transferTableMap">
        <result property="transferTableId" column="transfer_table_id"/>
        <result property="policeId" column="police_id"/>
        <result property="unitId" column="unit_id"/>
        <result property="unitName" column="unit_name"/>
        <result property="address" column="address"/>
        <result property="area" column="area"/>
        <result property="floors" column="floors"/>
        <result property="height" column="height"/>
        <result property="level" column="level"/>
        <result property="danger" column="danger"/>
        <result property="handlUnit" column="handl_unit"/>
        <result property="datails" column="datails"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

	<select id="queryObject" resultType="xhu.wncg.firesystem.modules.pojo.TransferTable">
		select * from t_transfer_table where transfer_table_id = #{value}
	</select>

	<select id="queryList" resultType="xhu.wncg.firesystem.modules.pojo.TransferTable">
		select * from t_transfer_table
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by transfer_table_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_transfer_table 
	</select>
	 
	<insert id="save" parameterType="xhu.wncg.firesystem.modules.pojo.TransferTable">
		insert into t_transfer_table
		(
			`transfer_table_id`, 
			`police_id`, 
			`unit_id`, 
			`unit_name`, 
			`address`, 
			`area`, 
			`floors`, 
			`height`, 
			`level`, 
			`danger`, 
			`handl_unit`, 
			`datails`, 
			`create_date`
		)
		values
		(
			#{transferTableId}, 
			#{policeId}, 
			#{unitId}, 
			#{unitName}, 
			#{address}, 
			#{area}, 
			#{floors}, 
			#{height}, 
			#{level}, 
			#{danger}, 
			#{handlUnit}, 
			#{datails}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="xhu.wncg.firesystem.modules.pojo.TransferTable">
		update t_transfer_table 
		<set>
			<if test="policeId != null">`police_id` = #{policeId}, </if>
			<if test="unitId != null">`unit_id` = #{unitId}, </if>
			<if test="unitName != null">`unit_name` = #{unitName}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="area != null">`area` = #{area}, </if>
			<if test="floors != null">`floors` = #{floors}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="danger != null">`danger` = #{danger}, </if>
			<if test="handlUnit != null">`handl_unit` = #{handlUnit}, </if>
			<if test="datails != null">`datails` = #{datails}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where transfer_table_id = #{transferTableId}
	</update>
	
	<delete id="delete">
		delete from t_transfer_table where transfer_table_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_transfer_table where transfer_table_id in 
		<foreach item="transferTableId" collection="array" open="(" separator="," close=")">
			#{transferTableId}
		</foreach>
	</delete>

</mapper>